/* OpenSans font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/***   Layout   ***/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

header, #content, footer {
    position: fixed;
    width:100%;
}

header {
    height:80px;
    border-bottom: 2px solid;
}

header h1, #right, #left, footer {
    padding-left: 10px;
}

#content {
    top:80px;
}

#right, #left {
    position: relative;
}

#left {
    border: 2px solid;
    left: 5%;
    top: 20px;
    width: 25%;
    padding-bottom: 10px;
    border-radius: 10px;
}

#right {
    left: 35%;
    width: 60%;
}

#complex {
    display:none;
}

footer {
    bottom:0px;
    border-top: 2px solid;
}
